$dark: #111111
$white: #ffffff
$hyperlink: #7091ff
@font-face
    font-family: 'Akkurat Mono'
    src: url('./Akkurat-Mono.otf') format('opentype')
    font-weight: 400
    font-style: normal
    font-optical-sizing: auto

.akkurat
    font-family: "Akkurat Mono", monospace

.text-dark
    color: $dark

.product-img
    border-radius: 0.2rem
    filter: grayscale(100%)
    transition: 0.5s

.product-box__info
    margin: 1rem 0 0 0

.header__martinleib
    text-decoration: none

.fs-7
    font-size: .7rem
    color: #8e8e8e
// footer
//     filter: grayscale(100%)

.kit-referral
    color: $hyperlink !important
    text-decoration: none !important

.aside-container
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 240px
    height: 100%
    background-color: $dark
    z-index: 20

.aside-link
    transition: 0.2s
    &:hover
        color: $hyperlink !important

.cart-container
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: 300px
    height: 100%
    background-color: $dark
    z-index: 20

.overlay
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.5)
        z-index: 10
        display: none
    
.overlay.show
        display: block
    
.cart__hr
    border-top: 1px solid
    opacity: 50%

.btn-outline-secondary
    &:hover
        background-color: #d1d1d1 !important